export(bond)
export(bond_series)
export(buildBasket)
export(buildHierarchy)
export(buildRatio)
export(build_series_symbols)
export(buildSpread)
export(build_spread_symbols)
export(butterfly)
export(C2M)
export(currency)
export(exchange_rate)
export(fn_SpreadBuilder)
export(format_id)
export(formatSpreadPrice)
export(fund)
export(future)
export(future_series)
export(getInstrument)
export(getSymbols.FI)
export(guaranteed_spread)
export(instrument)
export(instrument_attr)
export(instrument.table)
export(is.currency)
export(is.instrument)
export(load.instruments)
export(M2C)
export(month_cycle2numeric)
export(next.future_id)
export(option)
export(option_series)
export(option_series.yahoo)
export(parse_id)
export(parse_suffix)
export(prev.future_id)
export(redenominate)
export(setSymbolLookup.FI)
export(sort_ids)
export(spread)
export(stock)
export(synthetic)
export(synthetic.instrument)
export(synthetic.ratio)
export(.to_daily)
export(volep)
